
html 
{
   background-color: #FFF8DC;
}

nav
{
        display: flex;
	height: 70px;
        width: 100%;
	justify-content:center;
	align-items: center;
	background-color: #FAFAD2;
	
}



.pages li
{
  list-style: none ;
  background-color: #FAFAD2;
  display: inline-block;
  line-height: 30px;
}
