html 
{
   background-color: #FFF8DC;
}

nav
{
        display: flex;
	height: 70px;
        width: 100%;
	justify-content:center;
	align-items: center;
	background-color: #FAFAD2;
	
}



.pages li
{
  list-style: none ;
  background-color: #f5fffa; 
  background-image: url(satin-nuss.jpg);
  background-position: center;
  background-size: cover;
  display: inline-block;
  line-height: 30px;
}

.pages li a
{
    padding: 20px;
    text-decoration: none;
    font-family:'Orbitron', sans-serif;
    font-size: 15px;
    color: red;
    display: box;
}

.pages li a:hover
{
    color: white;
}
